:root {
    --header-baner--width: 100px;
    --header-baner--heigh: 80px;
    --cus-Navbar--heigh: 50px;
}
.cusNavbar {
    /*background:  linear-gradient(90deg, #9600fb 0%, #00ffd0 100%); */
    background: linear-gradient(90deg, rgba(150,0,251,0.5) 0%, rgba(10,226,216,0.5) 100%);
    height: fit-content;
}
.break-bar{
    /* background:  linear-gradient(to right, #FF0000, #FE006C,#A505C7,#4510CC,#216C70,#00B100,#FFFF00); */
    background-color: antiquewhite;
    height: 1px;
}
.break-bar-rainbow{
    background:  linear-gradient(to right, #FF0000, #FE006C,#A505C7,#4510CC,#216C70,#00B100,#FFFF00); 
    height: 2px;
}
.nav-link i {
    margin-right: 8px;
}

.languageToggle {
    border-radius: 5px;
    background-color: gray;
    padding: 0px 5px;
}
.languageToggle .btn-active {
    background-color: red;
}
.languageToggle button {
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0 2px;
}
.header-banner {
    /* background: linear-gradient(250deg, rgba(150,0,250,0.8) 0%, rgba(10,165,225,1) 100%); */
    background: linear-gradient(250deg, rgba(166,65,120,0.8) 0%, rgba(31,191,191,1) 100%);
    height: var(--header-baner--heigh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-banner a{
    color: white;
}
.header-banner a:hover,
.header-banner__mobile a:hover {
    background-color: #1E3EE6;
    border-radius: 5%;
    transition: all .5s ease-in-out;
}
.navbar .subnav:hover,
.navbar .subnav:active {
    background-color: black;
}
.header-banner__mobile {
    background-color: antiquewhite;
    height: 70px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .d-none-tablet {
        display: none!important;
    }
}
.ul-nav {
    list-style-type: none;
}


.test{
    background: linear-gradient(250deg, rgba(150,0,250,0.8) 0%, rgba(10,165,225,1) 100%);

}