
.slick-prev:before, .slick-next:before {
    font-size:40px !important;
    color:red !important;

}
.item{
    /* border: 1px solid black; */
}

.card-film{
    margin:auto;
    
}
/* h4{
    margin:auto;
    text-align: center;  
} */
@media only screen and (max-width: 600px) {
    .slick-prev{
        left: 40px!important;
        position: absolute!important;
        z-index: 2!important;
    
    }
    .slick-next {
        right:50px !important;
    }
  }